AlgebraLinear/livros
AlgebraLinear/material
AlgebraLinear/slides
AlgebraLinear/trabalho/PCA/PCA Images (Matlab)/dataset*
AlgebraLinear/trabalho/PCA/PCA Pricing (Python)/dataset*
TeoriaAproximacoes/slides
